body {
    background-image: url("docs/assets/images/naughty_logo_light.jpg");
    background-repeat: no-repeat;
    background-size: quarter;
    background-attachment: fixed;
    background-position: right top;
    color: #FFFFFF;
}
h1 {color: black;}

p {color: black;}